<ol>
<% kpis.each do |kpi| %>
  <li>
    <a href="<%= kpi.base_path %>#<%= kpi.name.parameterize %>"><%= kpi.name %></a>
    <% if kpi.target %>(target: <%= kpi.target %>)<% end %>
    <% if kpi.periscope_data %>
      📊
    <% elsif kpi.urls %>
      🔗
    <% end %>
  </li>
<% end %>
</ol>